/* Tamaños de mediaquerys */
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;


/* Colores */
//Primario
$azul: #4A90E2;

//Secundario
$amarillo: #F5A623;

//Fondo
$blanco: #FFF;

//Texto
$gris: #333333;

//Botones
$verde: #7ED321;
$rojo: #D0021B;


/* Tipografia */
//Titulo y Encabezados
$fuente-principal: "Merriweather", serif;

//Texto del cuerpo
$fuente-texto: "Roboto", sans-serif;